<mat-toolbar>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>note</mat-icon>
    </button>
    
    <span>NOTES</span>
    
    <span class="example-spacer"></span>

    <button mat-button color="" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
        <span> {{ user.name }}</span>
    </button>
    
    <mat-menu #menu="matMenu">

        <button mat-menu-item (click)="openBottomSheet()" >
            <mat-icon>manage_accounts</mat-icon>
            <span>Editar perfil</span>
        </button>

        <button mat-menu-item (click)="logout()" >
            <mat-icon>logout</mat-icon>
            <span>Salir</span>
        </button>

    </mat-menu>

</mat-toolbar>