<!--Boton-->
<br>
<button class="btn-add-note" mat-fab color="" (click)="openBottomSheet()">
  <mat-icon>note_add</mat-icon>
</button>

<!--Lista-->
<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let note of notes; let indice = index" 
      class="notes-card">
      
      <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{indice+1}} - {{note.title}}</mat-card-title>
            <mat-card-subtitle>{{[ notifyService.convertirFecha(note.date)]}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{note.img_url}}">
          <mat-card-content>
            <p>
              {{note.description}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary" (click)="updateNote( note.cod_note )" >
              <mat-icon>edit_note</mat-icon>
            </button>
            <button mat-button color="warn" (click)="deleteNote( note.cod_note )" >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
      </mat-card>

  </div>
  </div>
</div>